<!DOCTYPE html>
<html lang="fa">
<head>
    {% block meta %}
        {% include 'layout/base/meta.html' %}
    {% endblock %}
    {% block title %}{% endblock %}
    {% block link %}
        {% include 'layout/base/link.html' %}
    {% endblock %}
</head>
<body>
{% block header %}
    {% include 'layout/base/header.html' %}
{% endblock %}
{% block main %}{% endblock %}
{% block footer %}
    {% include 'layout/base/footer.html' %}
{% endblock %}
</body>
</html>
