<header class="page-header">
    <div class="page-header-top gradient-up-down">
        <div class="input-container">
            <input type="search" placeholder="جست و جو" class="input-textfield"/>
            <i class="fa fa-search"></i>
        </div>
        {% if current_user.is_authenticated %}
            <div class="status-container">
                <a href="{{ url_for('logout') }}">
                    <i class="fa fa-sign-out"></i>
                </a>
                <span>{{ current_user.username }} سلام </span>
            </div>
        {% else %}
            <div class="status-container">
                <a href="{{ url_for('login') }}">
                    <i class="fa fa-sign-in"></i>
                </a>
                <span>ورود و یا ثبت نام کنید</span>
            </div>
        {% endif %}

    </div>
    <div class="page-header-container">
        <div class="page-logo">
            <img src="/static/img/logo-black.png" alt="logo">
        </div>
        <div class="page-title">
            <h1>گروه مهندسی کامپیوتر دانشگاه گیلان</h1>
        </div>
    </div>
    <div class="page-header-navbar gradient-down-up">
        {% include 'layout/base/navbar.html' %}
    </div>
</header>