<nav id="navbar" role="navigation">
    <a href="#navbar" title="نمایش منو">
        <i class="fa fa-navicon"></i>
    </a>
    <a href="#" title="پنهان ساختن منو">
        <i class="fa fa-navicon"></i>
    </a>
    <ul>
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ url_for('index') }}">صفحه اصلی</a>
        </li>

        {% if current_user.is_authenticated %}
            {% if current_user.is_admin() %}
                <li>
                    <i class="fa fa-picture-o"></i>
                    <a href="{{ url_for('profile',username = current_user.username) }}" aria-haspopup="true">پروفایل
                        من</a>
                </li>
                <li>
                    <i class="fa fa-group"></i>
                    <a href="#" aria-haspopup="true">مدیریت کاربران</a>
                    <ul>
                        <li>
                            <a href="{{ url_for('professor_list') }}">لیست اساتید</a>
                        </li>
                        <li>
                            <a href="{{ url_for('student_list') }}">لیست دانشجویان</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <i class="fa fa-group"></i>
                    <a href="#" aria-haspopup="true">مدیریت گروه</a>
                    <ul>
                        <li>
                            <a href="{{ url_for('term_create') }}">ایجاد ترم</a>
                        </li>
                        <li>
                            <a href="{{ url_for('course_list') }}">لیست دروس</a>
                        </li>
                    </ul>
                </li>
            {% elif current_user.is_professor() %}
                <li>
                    <i class="fa fa-picture-o"></i>
                    <a href="{{ url_for('profile',username = current_user.username) }}" aria-haspopup="true">پروفایل
                        من</a>
                </li>
                <li>
                    <i class="fa fa-book"></i>
                    <a href="{{ url_for('course_list') }}" aria-haspopup="true">مدیریت دروس</a>
                </li>
            {% elif current_user.is_student() %}
                <li>
                    <i class="fa fa-picture-o"></i>
                    <a href="{{ url_for('profile',username = current_user.username) }}" aria-haspopup="true">پروفایل
                        من</a>
                </li>
                <li>
                    <i class="fa fa-book"></i>
                    <a href="{{ url_for('course_list') }}" aria-haspopup="true">مدیریت دروس</a>
                </li>
            {% endif %}

        {% else %}
            <li>
                <i class="fa fa-file-text"></i>
                <a href="#" aria-haspopup="true">فرم ها</a>
                <ul>
                    <li>
                        <a href="{{ url_for('signup') }}">فرم ثبت نام</a>
                    </li>
                    <li>
                        <a href="{{ url_for('login') }}">فرم ورود</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        <li>
            <i class="fa fa-info"></i>
            <a href="{{ url_for('about') }}">درباره ما</a>
        </li>
    </ul>
</nav>