<input id="slide-sidebar" type="checkbox" role="button"/>
<label for="slide-sidebar">
        <span>
          <i class="fa fa-exchange"></i>
        </span>
</label>
<div class="page-sidebar-container">
    <ul class="sidebar-list">
        {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('profile',username=current_user.username) }}">پروفایل من</a>
            </li>
            <li>
                <a href="{{ url_for('add_news') }}">ایجاد اخبار</a>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for('signup') }}">فرم ثبت نام</a>
            </li>
            <li>
                <a href="{{ url_for('login') }}">فرم ورود</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ url_for('course_list') }}">لیست دروس</a>
        </li>
        <li>
            <a href="{{ url_for('about') }}">درباره ما</a>
        </li>
    </ul>
</div>