.gallery {
  overflow: hidden;
  margin: 10px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.boxInner img {
  width: 100%
}

@media only screen and (max-width:480px) {
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width:641px) and (min-width:481px) {
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (max-width:800px) and (min-width:641px) {
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}

@media only screen and (max-width:1024px) and (min-width:801px) {
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}

@media only screen and (max-width:1290px) and (min-width:1025px) {
  .box {
    width: 20%;
    padding-bottom: 20%;
  }
}