{% extends '/layout/page_base.html' %}
{% block title %}
    <title>لیست اساتید</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="post-title">
                    <h2>لیست اساتید</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="button-group">
                    <a href="{{ url_for('professor_create') }}" class="green">ایجاد استاد</a>
                </div>
                {% if professors %}
                    <table>
                        <thead>
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>نام کاربری</th>
                            <th>گزینه های بیشتر</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for professor in professors %}
                            <tr>
                                <td data-column="نام">{{ professor.firstname }}</td>
                                <td data-column="نام خانوادگی">{{ professor.lastname }}</td>
                                <td data-column="نام کاربری">{{ professor.username }}</td>
                                <td data-column="گزینه های بیشتر">
                                    <a href="{{ url_for('professor_update',professor_id=professor.id) }}" class="blue">
                                        <i class="fa fa-pencil"></i>
                                        ویرایش
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}