{% extends 'layout/page_base.html' %}
{% block title %}
    <title>درباره ما</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/gallery.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-info"></i>
                </div>
                <div class="post-title">
                    <h2>درباره ما</h2>
                </div>
            </header>
            <div class="post-main">
                {{ about.content }}
                <div class="gallery">
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                Butterfly
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                An old greenhouse
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                Purple wildflowers
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                A birdfeeder
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                Crocus close-up
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                The garden shop
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                Spring daffodils
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                Iris along the path
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                The garden blueprint
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                The patio
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                Bumble bee collecting nectar
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <img src="/static/img/460x460.png"/>
                            <div class="titleBox">
                                Winding garden path
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}