{% extends 'layout/page_base.html' %}
{% block title %}
    <title>ایجاد خبر</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="post-title">
                    <h2>ایجاد خبر</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form">
                    <form class="add-news-form" method="post">
                        <div class="form-group">
                            <label>عنوان خبر</label>
                            <input name="title" type="text" placeholder="عنوان خبر"/>
                            <p class="error">{{ errors['title'] }}</p>
                        </div>
                        <div class="form-group">
                            <label>متن خبر</label>
                            <textarea name="content" rows="8" cols="80" placeholder="متن خبر"></textarea>
                            <p class="error">{{ errors['content'] }}</p>
                        </div>
                        <div class="form-group">
                            <label>دسته های خبر</label>
                            <select name="category-select" multiple="multiple">
                                <option value="" disabled>دسته های مورد نظر خود را انتخاب کنید...</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endfor %}
                            </select>
                            <input name="category-input" type="text" placeholder="دسته های جدید (با کاما جدا کنید.)"/>
                        </div>
                        <div class="form-group">
                            <label>برچسب های خبر</label>
                            <select name="keyword-select" multiple="multiple">
                                <option value="" disabled>برچسب های مورد نظر خود را انتخاب کنید...</option>
                                {% for keyword in keywords %}
                                    <option value="{{ keyword.id }}">{{ keyword.title }}</option>
                                {% endfor %}
                            </select>
                            <input name="keyword-input" type="text" placeholder="برچسب های جدید (با کاما جدا کنید.)">
                        </div>
                        <input type="submit" value="ایجاد"/>
                    </form>
                </div>
            </div>
        </article>
    </div>
{% endblock %}