{% extends 'layout/page_base.html' %}
{% block title %}
    <title>لیست دروس</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="post-title">
                    <h2>لیست دروس</h2>
                </div>
            </header>
            <div class="post-main">
                {% for term in terms %}
                    <div class="tab">
                        <input id="tab-{{ term.id }}" type="checkbox" name="tabs">
                        <label for="tab-{{ term.id }}">
                            دروس
                            {{ term.get_semester_label() }}
                            {{ term.year }}
                        </label>
                        {% if term.courses.count() > 0 %}
                            <div class="tab-content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>نام درس</th>
                                        <th>نام استاد</th>
                                        <th>گزینه های بیشتر</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in term.courses %}
                                        <tr>
                                            <td data-column="Course Name">{{ course.title }}</td>
                                            <td data-column="professor Name">
                                                {{ course.get_professor() }}
                                            </td>
                                            <td data-column="Action Button">
                                                <a href="{{ url_for('course',course_id=course.id) }}">
                                                    <i class="fa fa-eye"></i>
                                                    مشاهده
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </article>
    </div>
{% endblock %}