{% extends 'layout/page_base.html' %}
{% block title %}
    <title>{{ course.title }}</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/box.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="post-title">
                    <h2>جزئیات درس</h2>
                </div>
            </header>
            <div class="post-main">
                <div class="box-container">
                    <div class="button-group">
                        {% if current_user.is_professor() %}
                            <a href="{{ url_for('course_update',course_id=course.id) }}" class="green">ویرایش درس</a>
                        {% elif current_user.is_student() %}
                            <a href="{{ url_for('course_homework_answer_index',course_id=course.id) }}" class="yellow">آپلود
                                تمرین</a>
                        {% endif %}
                    </div>
                    <div class="box-meta-large">
                        <a href="#">{{ course.title }}</a>
                    </div>

                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">درباره درس</a>
                        <ul>
                            {% if course.about %}
                                <li>
                                    <i class="fa fa-info"></i>
                                    <p>

                                        {{ course.about }}

                                    </p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="box-meta-list">

                        <a href="#" class="box-list-title">سیلابس درس</a>
                        <ul>
                            {% for syllabus in course.syllabuses %}
                                <li>
                                    <i class="fa fa-arrow-left"></i>
                                    <p>{{ syllabus.title }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">اخبار درس</a>
                        <ul>
                            {% for post in course.posts %}
                                <li>
                                    <i class="fa fa-newspaper-o"></i>
                                    <a href="#">{{ post.title }}1</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">منابع درس</a>
                        <ul>
                            {% for resource in course.resourses %}
                                <li>
                                    <i class="fa fa-file"></i>
                                    <a href="#">{{ resource.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">اسلاید های درس</a>
                        <ul>
                            <li>
                                {% for slide in course.slides %}
                                    <i class="fa fa-file-powerpoint-o"></i>
                                    <a href="{{ url_for('course_slide_view',slide_id=slide.id) }}">{{ slide.title }}</a>
                                    </li>
                                {% endfor %}
                        </ul>
                    </div>
                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">تمرینات درس</a>
                        <ul>
                            {% for homework in course.homeworks %}
                            <li>
                                <i class="fa fa-file-archive-o"></i>
                                <a href="{{ url_for('course_homework_index',homework_id=homework.id) }}">{{ homework.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}