{% extends 'layout/page_base.html' %}
{% block title %}
    <title>صفحه مورد نظر یافت نشد</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/box.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-exclamation"></i>
                </div>
                <div class="post-title">
                    <h2>صفحه 404</h2>
                </div>
            </header>
            <div class="post-main">
                <div class="box-container">
                    <div class="box-meta-large">
                        <a href="#">صفحه مورد نظر یافت نشد</a>
                    </div>
                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">چرا با این صفحه رو به رو شدم؟</a>
                        <ul>
                            <li>
                                <i class="fa fa-exclamation"></i>
                                <p>ممکن است آدرس را اشتباه وارد کرده باشید.</p>
                            </li>
                            <li>
                                <i class="fa fa-exclamation"></i>
                                <p>ممکن است آدرس مورد نظر وجود نداشته باشد.</p>
                            </li>
                            <li>
                                <i class="fa fa-exclamation"></i>
                                <p>ممکن است آدرس مورد نظر در سمت سرور تغییر یافته باشد.</p>
                            </li>
                            <li>
                                <i class="fa fa-exclamation"></i>
                                <p>ممکن است آدرس مورد نظر در سمت سرور حذف شده باشد.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}