{% extends 'layout/page_base.html' %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block content %}
    <div class="page-content-container">
        {% for news in all_news.items %}
            <article class="post-container">
                <header class="post-header">
                    <div class="post-icon">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="post-title">
                        <h2>{{ news.title }}</h2>
                    </div>
                </header>
                <div class="post-main">
                    <p>{{ news.content[:300] }}...</p>
                    <div class="post-link">
                        <i class="fa fa-link"></i>
                        <a href="{{ url_for('news',news_id=news.id) }}">ادامه مطلب</a>
                    </div>
                </div>
                <div class="post-footer">
                    <div class="post-meta">
                        <i class="fa fa-calendar"></i>
                        <a href="#">{{ news.create_at }}</a>
                    </div>
                    <div class="post-meta">
                        <i class="fa fa-user"></i>
                        <a href="{{ url_for('profile',username=news.user.username) }}">{{ news.user.username }}</a>
                    </div>
                    <ul class="post-keys">
                        {% for keyword in news.keywords %}
                            <li>
                                <i class="fa fa-key"></i>
                                <a href="#">{{ keyword.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="post-tags">
                        {% for category in news.categories %}
                            <li>
                                <i class="fa fa-tag"></i>
                                <a href="#">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        {% endfor %}
        <div class="post-container pagination last-item">
            {% if all_news.has_prev %}<a href="{{ url_for('index', page=all_news.prev_num) }}">&laquo;</a>{% else %}
                <a>&laquo;</a>{% endif %}{% for page in range(all_news.page,all_news.page + 5) %}
            <a href="{% if page<=all_news.pages %}{{ url_for('index', page=page) }}{% else %}#{% endif %}"
               class="{% if page==all_news.page %}active{% endif %}">{{ page }}</a>{% endfor %}{% if all_news.has_next %}
            <a href="{{ url_for('index', page=all_news.next_num) }}">&raquo;</a>{% else %}<a>&raquo;</a>{% endif %}
        </div>

    </div>
{% endblock %}