{% extends "layout/form_base.html" %}
{% block title %}
    <title>فرم ورود</title>
{% endblock %}
{% block info %}
    <h1>فرم ورود</h1>
{% endblock %}
{% block form %}
    <form class="login-form" method="post">
        <div class="form-group">
            <input name="username" type="text" placeholder="نام کاربری"/>
            {% if errors['username'] is defined %}
                <p class="error">{{ errors['username'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input name="password" type="password" placeholder="کلمه عبور"/>
            {% if errors['password'] is defined %}
                <p class="error">{{ errors['password'] }}</p>
            {% endif %}
        </div>
        <input type="submit" value="ورود"/>
        <p class="message">آیا عضو نیستید؟
            <a href="{{ url_for('signup') }}">حساب خود را بسازید</a>
        </p>
    </form>
{% endblock %}