{% extends 'layout/page_base.html' %}
{% block title %}
    <title>{{ news.title }}</title>
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div class="post-title">
                    <h2>{{ news.title }}</h2>
                </div>
            </header>
            <div class="post-main">
                <p>{{ news.content }}</p>
            </div>
            <div class="post-footer">
                <div class="post-meta">
                    <i class="fa fa-calendar"></i>
                    <a href="#">{{ news.create_at }}</a>
                </div>
                <div class="post-meta">
                    <i class="fa fa-user"></i>
                    <a href="{{ url_for('profile',username=news.user.username) }}">{{ news.user.username }}</a>
                </div>
                <ul class="post-keys">
                    {% for keyword in news.keywords %}
                        <li>
                            <i class="fa fa-key"></i>
                            <a href="#">{{ keyword.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="post-tags">
                    {% for category in news.categories %}
                        <li>
                            <i class="fa fa-tag"></i>
                            <a href="#">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
    </div>
{% endblock %}