{% extends 'layout/page_base.html' %}
{% block title %}
    <title>پروفایل کاربری</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/box.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="post-title">
                    <h2>پروفایل کاربری</h2>
                </div>
            </header>
            <div class="post-main">
                <div class="box-container">
                    <div class="avatar-flip">
                        <img src="/static/img/avatar.png" height="150" width="150">
                    </div>
                    <div class="box-meta-large">
                        <a href="#">
                            {{ user.firstname }} {{ user.lastname }}
                        </a>
                    </div>
                    <div class="box-meta-small">
                        <a href="#">
                            {% if user.role == User.ROLE_PROFESSOR %}
                                استاد
                            {% elif user.role == User.ROLE_STUDENT %}
                                دانشجو
                            {% endif %}
                        </a>
                    </div>
                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">درس های جاری</a>
                        <ul>
                            {% for course in user.courses %}
                                <li>
                                    <i class="fa fa-book"></i>
                                    <a href="{{ url_for('course',course_id=course.id) }}">{{ course.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box-meta-list">
                        <a href="#" class="box-list-title">اطلاعات تماس</a>
                        <ul>
                            {% for contact in user.contacts %}
                                <li>
                                    {% if contact.website.title == 'gmail' %}
                                        <i class="fa fa-envelope"></i>
                                    {% elif contact.website.title == 'portal' %}
                                        <i class="fa fa-globe"></i>
                                    {% else %}
                                        <i class="fa fa-{{ contact.website.title }}"></i>
                                    {% endif %}

                                    <a href="{{ ''.join(['http://', contact.url]) }}">{{ contact.url }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}