{% extends "layout/form_base.html" %}
{% block title %}
    <title>فرم ثبت نام</title>
{% endblock %}
{% block info %}
    <h1>فرم ثبت نام</h1>
{% endblock %}
{% block form %}
    <form class="signup-form" method="post">
        <div class="form-group">
            <input name="firstname" type="text" placeholder="نام"/>
            {% if errors['firstname'] is defined %}
                <p class="error">{{ errors['firstname'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input name="lastname" type="text" placeholder="نام خانوادگی"/>
            {% if errors['lastname'] is defined %}
                <p class="error">{{ errors['lastname'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input name="username" type="text" placeholder="نام کاربری"/>
            {% if errors['username'] is defined %}
                <p class="error">{{ errors['username'] }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input name="password" type="password" placeholder="کلمه عبور"/>
            {% if errors['password'] is defined %}
                <p class="error">{{ errors['password'] }}</p>
            {% endif %}
        </div>

        <input type="submit" value="ثبت نام"/>
        <p class="message">آیا قبلا عضو بوده اید؟
            <a href="{{ url_for('login') }}">وارد حساب خود شوید</a>
        </p>
    </form>
{% endblock %}