.box-container {
  width: 80%;
  margin: 120px auto 120px;
  background-color: var(--blue);
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
}

.box-container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.avatar-flip {
  border: 10px solid white;
  border-radius: 150px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -50px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px var(--blue);
  -webkit-box-shadow: 0 0 0 13px var(--blue);
  -moz-box-shadow: 0 0 0 13px var(--blue);
}

.box-meta-list {
  margin: 50px auto;
}

.box-meta-large,
.box-meta-small {
  border-radius: 6px;
  width: 100%;
}

.box-meta-large {
  padding-top: 50px;
}

.box-meta-large a,
.box-meta-small a,
.box-meta-list a {
  text-decoration: none;
}

.box-meta-large>a {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.box-meta-small>a {
  font-size: 13px;
  color: white;
}

.box-meta-list>a {
  display: block;
  width: 100%;
  background-color: var(--red);
  color: white
}

.box-meta-list i {
  margin: auto 20px;
}

.box-meta-list ul a {
  color: white;
}

.box-meta-list p {
  color: white;
  display: inline;
}

.box-meta-list ul a:hover {
  text-decoration: underline
}

.box-container ul {
  text-align: right;
  margin-top: 10px;
}

.box-container li {
  word-wrap: break-word;
}