:root {
    --blurgray: rgba(50, 50, 50, 0.3);
    --darkblue: #333745;
    --blue: #4c677f;
    --red: #fe5f55;
}

* {
    font-family: IRANSans;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--blue);
    height: 100%;
}

body .page-main:only-child {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main-background.png);
}

.form {
    background: white;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    direction: rtl;
}

.form .thumbnail {
    background: var(--blue);
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}

.form .thumbnail img {
    display: block;
    width: 100%;
}

.form label {
    float: right;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form input:not([type=submit]),
.form select,
.form textarea {
    color: var(--blue);
    direction: rtl;
    outline: 0;
    background-color: lightgray;
    width: 100%;
    border: 0;
    margin: 10px 0 10px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type=submit] {
    outline: 0;
    background: var(--blue);
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: darkgray;
    font-size: 12px;
}

.form .message a {
    color: var(--red);
    text-decoration: none;
}

.header {
    max-width: 300px;
    margin: 50px auto;
}

.header .info {
    margin: 0 auto;
    text-align: center;
    background-color: unset;
}

.header .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: white;
}

.my-notify.info,
.my-notify.success,
.my-notify.warning,
.my-notify.error {
    padding: 20px;
    margin: 10px 0;
}

.form-group .error,
.form-group .warning,
.form-group .info,
.form-group .success {
    padding: 10px 0;
    font-size: 0.8em;
}

.my-notify.info:before,
.my-notify.success:before,
.my-notify.warning:before,
.my-notify.error:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.my-notify.info:before {
    content: "\f05a";
}

.my-notify.success:before {
    content: '\f00c';
}

.my-notify.warning:before {
    content: '\f071';
}

.my-notify.error:before {
    content: '\f057';
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.info:empty,
.success:empty,
.warning:empty,
.error:empty {
    display: none;
}