:root {
    --blurgray: rgba(50, 50, 50, 0.3);
    --lightgray: #eee;
    --darkblue: #333745;
    --blue: #4c677f;
    --lightblue: #3498db;
    --red: #fe5f55;
    --green: #2faf66;
    --yellow: #ed9e28;
}

* {
    font-family: IRANSans;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue);
}

.red {
    background: var(--red) !important;
}

.blue {
    background: var(--blue) !important;
}

.green {
    background: var(--green) !important;
}

.yellow {
    background: var(--yellow) !important;
}

.info {
    color: #00529B;
    background-color: #BDE5F8 !important;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF !important;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3 !important;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2 !important;
}

.gradient-up-down {
    background: var(--darkblue);
    background: -moz-linear-gradient(90deg, var(--darkblue) 20%, var(--blue) 95%);
    background: -webkit-linear-gradient(90deg, var(--darkblue) 20%, var(--blue) 95%);
    background: -o-linear-gradient(90deg, var(--darkblue) 20%, var(--blue) 95%);
    background: -ms-linear-gradient(90deg, var(--darkblue) 20%, var(--blue) 95%);
    background: linear-gradient(180deg, var(--darkblue) 20%, var(--blue) 95%);
}

.gradient-down-up {
    background: var(--darkblue);
    background: -moz-linear-gradient(270deg, var(--darkblue) 20%, var(--blue) 95%);
    background: -webkit-linear-gradient(270deg, var(--darkblue) 20%, var(--blue) 95%);
    background: -o-linear-gradient(270deg, var(--darkblue) 20%, var(--blue) 95%);
    background: -ms-linear-gradient(270deg, var(--darkblue) 20%, var(--blue) 95%);
    background: linear-gradient(0deg, var(--darkblue) 20%, var(--blue) 95%);
}

.input-container {
    float: right;
    height: 100%;
}

.status-container {
    padding: 10px;
    color: white;
    float: left;
    height: 100%;
}

.status-container i, .status-container span {
    height: inherit;
}

.status-container a, .status-container a:hover, .status-container a::selection {
    text-decoration: none;
    text-decoration-style: none;
}

.status-container i {
    color: var(--red);
}

.input-container .input-textfield {
    font-size: 15px;
    float: right;
    text-align: right;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid;
    margin: 10px 15px 10px 15px;
    color: white;
    background-color: transparent;
    width: 220px;
}

.input-container .fa {
    float: right;
    margin: 10px -30px -30px;
}

.fa {
    color: white;
}

.page-header,
.page-footer {
    -webkit-box-shadow: var(--blurgray);
    -moz-box-shadow: 0 18px 29px 11px var(--blurgray);
    box-shadow: 0 18px 29px 11px var(--blurgray);
}

.page-header-top,
.page-header-navbar {
    height: 50px;
}

.page-header-container {
    height: 250px;
    background-color: white;
}

.page-logo {
    float: right;
    width: 250px;
}

.page-logo img {
    float: right;
    width: 90%;
    height: 90%;
    margin: 5%;
}

.page-title {
    overflow: hidden;
    text-align: center;
    line-height: 250px;
    height: 100%;
}

.page-title h1 {
    text-shadow: 3px 4px 9px var(--blurgray);
    font-size: 48px;
}

#navbar {
    direction: rtl;
    margin-right: 250px;
    height: 100%;
    display: inline-block;
    float: right;
}

#navbar > a {
    display: none;
}

#navbar a {
    text-decoration: none;
    line-height: 50px;
    color: black;
    height: 50px;
}

#navbar a > i {
    line-height: 50px;
}

#navbar li {
    text-align: center;
    width: 150px;
    background-color: white;
    list-style: none;
}

#navbar > ul {
    height: 100%;
}

#navbar > ul > li {
    font-weight: bold;
    background-color: transparent;
    height: 100%;
    float: right;
}

#navbar > ul > li > ul {
    font-weight: lighter;
    font-size: small;
    -webkit-box-shadow: var(--blurgray);
    -moz-box-shadow: 0 18px 29px 11px var(--blurgray);
    box-shadow: 0 18px 29px 11px var(--blurgray);
}

#navbar li:hover {
    background-color: var(--blue);
}

#navbar ul > li > ul > li:hover {
    background-color: var(--red);
}

#navbar li:hover > a,
#navbar > ul > li > a {
    color: white;
}

#navbar li ul {
    position: absolute;
    display: none;
}

#navbar li:hover ul {
    display: block;
}

.page-main {
    float: right;
    width: 100%;
    background-image: url(../img/main-background.png);
}

.page-header-container,
.page-footer {
    background-image: url(../img/secondary-background.png);
}

.page-sidebar-container {
    text-align: center;
    width: 250px;
    float: right;
}

.page-content-container {
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-align: right;
    float: right;
}

#slide-sidebar {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
    display: none;
}

#slide-sidebar:checked ~ .page-sidebar-container {
    right: 0;
    display: none;
}

#slide-sidebar:checked ~ .page-content-container .post-container {
    margin-right: 150px;
}

#slide-sidebar:checked ~ .page-main > label {
    right: 0;
}

.page-main > label {
    position: absolute;
    font-size: 30px;
    height: 100px;
    width: 50px;
    text-align: center;
    line-height: 100px;
    border-radius: 200px 0px 0px 200px;
    right: 0;
    float: right;
    background-color: var(--red);
}

.sidebar-list {
    margin-top: 100px;
    margin-bottom: 100px;
    list-style: none;
    height: intial;
    width: 80%;
    text-align: center;
    list-style: none;
    -webkit-box-shadow: var(--blurgray);
    -moz-box-shadow: 0 18px 29px 11px var(--blurgray);
    box-shadow: 0 18px 29px 11px var(--blurgray);
    display: inline-block;
}

.sidebar-list > li {
    background: rgba(51, 55, 69, 1);
    background: -moz-linear-gradient(left, rgba(51, 55, 69, 1) 0%, rgba(76, 103, 127, 1) 40%, rgba(76, 103, 127, 1) 60%, rgba(51, 55, 69, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 55, 69, 1)), color-stop(40%, rgba(76, 103, 127, 1)), color-stop(60%, rgba(76, 103, 127, 1)), color-stop(100%, rgba(51, 55, 69, 1)));
    background: -webkit-linear-gradient(left, rgba(51, 55, 69, 1) 0%, rgba(76, 103, 127, 1) 40%, rgba(76, 103, 127, 1) 60%, rgba(51, 55, 69, 1) 100%);
    background: -o-linear-gradient(left, rgba(51, 55, 69, 1) 0%, rgba(76, 103, 127, 1) 40%, rgba(76, 103, 127, 1) 60%, rgba(51, 55, 69, 1) 100%);
    background: -ms-linear-gradient(left, rgba(51, 55, 69, 1) 0%, rgba(76, 103, 127, 1) 40%, rgba(76, 103, 127, 1) 60%, rgba(51, 55, 69, 1) 100%);
    background: linear-gradient(to right, rgba(51, 55, 69, 1) 0%, rgba(76, 103, 127, 1) 40%, rgba(76, 103, 127, 1) 60%, rgba(51, 55, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333745', endColorstr='#333745', GradientType=1);
    height: 100px;
}

.sidebar-list li:hover {
    background: white;
}

.sidebar-list li:hover a {
    color: black;
}

.sidebar-list a {
    color: white;
    text-decoration: none;
}

.sidebar-list li {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.sidebar-list a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.page-footer {
    height: 300px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: table;
}

.page-footer h2 {
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    display: table-cell;
}

.last-item {
    margin-bottom: 100px;
}

.post-container {
    background-color: white;
    margin-top: 100px;
    -webkit-box-shadow: var(--blurgray);
    -moz-box-shadow: 0 18px 29px 11px var(--blurgray);
    box-shadow: 0 14px 15px 4px var(--blurgray);
    max-width: 1000px;
    border-radius: 50px;
    margin-right: 25px;
    margin-left: 25px;
    width: 1000px;
}

.post-header {
    border-bottom: 50px solid var(--red);
    padding: 20px;
    overflow: auto;
}

.post-title {
    overflow: auto;
}

.post-title h2 {
    color: var(--blue);
    margin: 30px 30px 0 0;
}

.post-icon {
    float: right;
}

.post-header .post-icon i {
    border-radius: 50%;
    border: 10px solid;
    background-color: white;
    text-align: center;
    height: 75px;
    width: 75px;
    font-size: 30px;
    line-height: 75px;
    color: var(--blue);
}

.post-main {
    padding: 20px 5%;
    width: 90%;
    color: var(--blue);
}

.post-footer {
    overflow: auto;
    width: 90%;
    padding: 20px 5%;
    border-top: 50px solid var(--red);
}

.post-footer li,
.post-footer .post-meta,
.post-link {
    border-right: 50px solid var(--blue);
    border-left: 50px solid var(--blue);
    background-color: var(--blue);
    text-align: center;
    padding: 5px 0 5px 0;
    border-radius: 20px;
    margin-left: 10px;
    display: inline-block;
    list-style: none;
}

.post-footer li,
.post-footer .post-meta {
    margin-top: 10px;
}

.post-link {
    margin-top: 50px;
}

.post-header,
.post-main,
.post-footer {
    direction: rtl;
}

.post-footer a,
.post-link a {
    color: white;
    text-decoration: none;
}

.pagination {
    overflow: auto;
    text-align: center;
}

.pagination a {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 20px 40px;
    display: inline-block;
}

.pagination a.active {
    background-color: var(--blue);
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.button-group {
    padding: 30px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-group a {
    outline: 0;
    border: 0;
    padding: 15px;
    background: var(--blue);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1300px) {
    .post-container {
        max-width: 700px;
        width: 700px;
    }
}

@media (max-width: 1024px) {
    .page-sidebar-container {
        width: 200px;
    }

    .page-sidebar-container .sidebar-list {
        width: 90%;
    }

    .post-container {
        max-width: 500px;
        width: 500px;
    }

    .page-title h1 {
        font-size: 30px;
    }

    .page-header-navbar {
        text-align: center;
        display: block;
    }

    #navbar {
        float: none;
        margin: 0;
        display: inline-block;
    }
}

@media (max-width: 800px) {
    .page-content-container {
        width: 100%;
    }

    .post-container {
        border-radius: 0;
        width: 100%;
        margin: 0 0 10px 0;
        max-width: unset;
    }

    .page-sidebar-container .sidebar-list {
        width: 100%;
    }

    .last-item {
        margin-bottom: 0;
    }

    .page-header-top {
        text-align: center;
    }

    .page-header-navbar {
        height: initial;
        overflow: auto;
    }

    .page-title h1 {
        font-size: 20px;
    }

    #navbar {
        height: initial;
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
    }

    #navbar > a {
    }

    #navbar:not( :target) > a:first-of-type,
    #navbar:target > a:last-of-type {
        display: block;
    }

    #navbar li:hover {
        overflow: initial;
        background-color: var(--blue);
    }

    #navbar li > ul > li:hover {
        background-color: var(--red);
    }

    #navbar > ul {
        height: initial;
        display: block;
        left: 0;
        right: 0;
        background-color: var(--darkblue);
    }

    #navbar:target > ul {
        display: none;
    }

    #navbar > ul > li {
        height: initial;
        float: none;
    }

    #navbar li {
        width: 100%;
    }

    #navbar li ul {
        position: relative;
    }

    .page-sidebar-container {
        float: none;
        display: inline-block;
        width: 100%;
    }

    .sidebar-list {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .button-group {
        text-align: center;
    }

    .button-group a {
        display: block;
        margin: 10px auto;
    }

}

@media (max-width: 640px) {
    .input-container {
        float: none;
        display: inline-block;
        height: 50%;
    }

    .status-container {
        padding: unset;
        float: none;
        display: block;
        height: 50%;
    }

    .page-header-top {
        text-align: center;
        height: 100px;
    }

    .page-header-container {
        text-align: center;
        height: 350px;
    }

    .page-logo {
        vertical-align: middle;
        float: none;
        height: 250px;
        display: inline-block;
    }

    .page-title {
        height: 100px;
    }

    .page-title h1 {
        font-size: 18px;
        line-height: 100px;
    }

    .post-footer li,
    .post-footer .post-meta {
        border-right: 0 solid var(--blue);
        border-left: 0 solid var(--blue);
        width: 100%;
        margin-left: 0;
    }
}