.tab {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.tab > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab > label {
    color: white;
    position: relative;
    display: block;
    background: var(--blue);
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    padding-right: 20px;
    border-radius: 6px;
    margin: 20px auto;
}

.tab-content {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    border-radius: 6px;
    overflow-x: auto;
}

.tab > input:checked ~ .tab-content {
    max-height: unset;
}

td a {
    border-radius: 6px;
    padding: 5px 10px;
    background-color: var(--blue);
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    color: white;
}

.tab > label::after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab > input[type=checkbox] + label::after {
    content: "+";
}

.tab > input[type=radio] + label::after {
    content: "\25BC";
}

.tab > input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}

.tab > input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

table {
    width: 100%;
    border-collapse: collapse;
    direction: rtl;
    table-layout: fixed;
    word-wrap: break-word;
    margin: 20px auto;
}

tr:nth-of-type(odd) {
    background: var(--lightgray);
}

th {
    text-align: center;
    background: var(--lightblue);
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 10px;
}

@media only screen and (max-width: 760px),
(min-device-width: 800px) and (max-device-width: 1024px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-right: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 45%;
        padding-left: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}