{% extends '/layout/page_base.html' %}
{% block title %}
    <title>لیست دانشجویان</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="post-title">
                    <h2>لیست دانشجویان</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% if students %}
                    <table>
                        <thead>
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>نام کاربری</th>
                            <th>گزینه های بیشتر</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr class="{% if not student.is_verified() %}warning{% endif %}">
                                <td data-column="نام">{{ student.firstname }}</td>
                                <td data-column="نام خانوادگی">{{ student.lastname }}</td>
                                <td data-column="نام کاربری">{{ student.username }}</td>
                                <td data-column="گزینه های بیشتر">
                                    {% if not student.is_verified() %}
                                        <a href="{{ url_for('student_verify',student_id=student.id) }}" class="green">
                                            <i class="fa fa-check"></i>
                                            تایید هویت
                                        </a>
                                    {% endif %}
                                    <a href="{{ url_for('student_update',student_id=student.id) }}" class="blue">
                                        <i class="fa fa-check"></i>
                                        ویرایش
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}