{% extends 'layout/page_base.html' %}
{% block title %}
    <title>آپلود و ویرایش پاسخ تمرینات</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-edit"></i>
                </div>
                <div class="post-title">
                    <h2>آپلود و ویرایش پاسخ تمرینات</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% for homework in homeworks %}
                    <table>
                        <thead>
                        <tr>
                            <th>عنوان تمرین</th>
                            <th>توضیحات</th>
                            <th>مهلت ارسال</th>
                            <th>تاریخ ایجاد</th>
                            <th>تاریخ ویرایش</th>
                            <th>گزینه های بیشتر</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td data-column="عنوان تمرین">{{ homework.title }}</td>
                            <td data-column="توضیحات">{{ homework.content }} </td>
                            <td data-column="مهلت ارسال">{{ homework.deadline_at }}</td>
                            <td data-column="تاریخ ایجاد">{{ homework.create_at }}</td>
                            <td data-column="تاریخ ویرایش">{{ homework.update_at }}</td>
                            <td data-column="گزینه های بیشتر">
                                {% if not homework.user_has_answer(current_user) %}
                                    <a href="{{ url_for('course_homework_answer_create',homework_id = homework.id) }}"
                                       class="green">
                                        <i class="fa fa-upload"></i>
                                        آپلود
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('course_homework_answer_view',homework_id = homework.id,user_id=current_user.id) }}"
                                       class="green">
                                        <i class="fa fa-download"></i>
                                        دانلود
                                    </a>
                                    <a href="{{ url_for('course_homework_answer_update',homework_id = homework.id) }}"
                                       class="blue">
                                        <i class="fa fa-pencil"></i>
                                        ویرایش
                                    </a>
                                    <a href="{{ url_for('course_homework_answer_delete',homework_id = homework.id) }}"
                                       class="red">
                                        <i class="fa fa-trash"></i>
                                        حذف
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </article>
    </div>
{% endblock %}