{% extends 'layout/page_base.html' %}
{% block title %}
    <title>ویرایش تمرین و مشاهده پاسخ ها</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="post-title">
                    <h2>ویرایش تمرین و مشاهده پاسخ ها</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="tab">
                    <input id="tab-one" type="checkbox" name="tabs">
                    <label for="tab-one">ویرایش تمرین</label>
                    <div class="tab-content">
                        <div class="form">
                            <form method="post"
                                  action="{{ url_for('course_homework_update',homework_id = homework.id) }}"
                                  class="homework-update-form" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    <label>{{ form.title.label }}</label>
                                    {{ form.title }}
                                    {% for error in form.title.errors %}
                                        <p class="error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.content.label }}</label>
                                    {{ form.content }}
                                    {% for error in form.content.errors %}
                                        <p class="error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.filename.label }}</label>
                                    {{ form.filename }}
                                    {% for error in form.filename.errors %}
                                        <p class="error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.deadline.label }}</label>
                                    {{ form.deadline }}
                                    {% for error in form.deadline.errors %}
                                        <p class="error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <input type="submit" value="ویرایش"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-two" type="checkbox" name="tabs">
                    <label for="tab-two">لیست پاسخ های ارسالی</label>
                    <div class="tab-content">
                        <table>
                            <thead>
                            <tr>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>نام کاربری</th>
                                <th>تاریخ ایجاد</th>
                                <th>تاریخ ویرایش</th>
                                <th>گزینه های بیشتر</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for answer in homework.answers %}
                                <tr>
                                    <td data-column="نام">{{ answer.user.firstname }}</td>
                                    <td data-column="نام خانوادگی">{{ answer.user.lastname }}</td>
                                    <td data-column="نام کاربری">{{ answer.user.username }}</td>
                                    <td data-column="تاریخ ایجاد">{{ answer.create_at }}</td>
                                    <td data-column="تاریخ ویرایش">{{ answer.update_at }}</td>
                                    <td data-column="گزینه های بیشتر">
                                        <a href="{{ url_for('course_homework_answer_view',homework_id =homework.id,user_id = answer.user.id) }}"
                                           class="green">
                                            <i class="fa fa-download"></i>
                                            دانلود
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}