{% extends 'layout/page_base.html' %}
{% block title %}
    <title>لیست دروس</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="post-title">
                    <h2>لیست دروس</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% if current_user.is_authenticated and current_user.is_admin() %}
                    <div class="button-group">
                        <a href="{{ url_for('course_create') }}" class="green">ایجاد درس</a>
                    </div>
                {% endif %}
                {% for term in terms %}
                    <div class="tab">
                        <input id="tab-{{ term.id }}" type="checkbox" name="tabs">
                        <label for="tab-{{ term.id }}">
                            دروس
                            {{ term.get_semester_label() }}
                            {{ term.year }}
                        </label>
                        {% if term.courses.count() > 0 %}
                            <div class="tab-content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>نام درس</th>
                                        <th>نام استاد</th>
                                        <th>گزینه های بیشتر</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in term.courses %}
                                        <tr class="{% if course.is_close() %}error{% endif %}">
                                            <td data-column="نام درس">{{ course.title }}</td>
                                            <td data-column="نام استاد">
                                                {% if course.has_professor() %}
                                                    {{ course.get_professor() }}
                                                {% else %}
                                                    تنظیم نشده
                                                {% endif %}
                                            </td>
                                            <td data-column="گزینه های بیشتر">
                                                {% if current_user.is_authenticated and course.has_access(current_user) %}
                                                    <a href="{{ url_for('course',course_id=course.id) }}" class="green">
                                                        <i class="fa fa-eye"></i>
                                                        مشاهده
                                                    </a>
                                                {% endif %}
                                                {% if current_user.is_authenticated and current_user.is_admin() and course.is_open() %}
                                                    <a href="{{ url_for('course_select',course_id=course.id) }}"
                                                       class="blue">
                                                        <i class="fa fa-check"></i>
                                                        انتخاب استاد و دانشجو
                                                    </a>
                                                    <a href="{{ url_for('course_close',course_id=course.id) }}"
                                                       class="red">
                                                        <i class="fa fa-times"></i>
                                                        بستن
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </article>
    </div>
{% endblock %}