{% extends 'layout/page_base.html' %}
{% block title %}
    <title>ویرایش دروس</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="post-title">
                    <h2>ویرایش درس</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="tab">
                    <input id="tab-one" type="checkbox" name="tabs">
                    <label for="tab-one">درباره درس</label>
                    <div class="tab-content">
                        <div class="form">
                            <form method="post" action="{{ url_for('course_about_update',course_id=course.id) }}"
                                  class="add-news-form">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    <label>{{ form.about.label }}</label>
                                    {{ form.about }}
                                    {% for error in form.about.errors %}
                                        <p class="error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <input type="submit" value="ویرایش"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-two" type="checkbox" name="tabs">
                    <label for="tab-two">سیلابس</label>
                    <div class="tab-content">
                        <div class="button-group">
                            <a href="{{ url_for('course_syllabus_item_create',course_id = course.id) }}" class="green">ایجاد
                                آیتم</a>
                        </div>
                        {% if course.has_syllabus() and course.syllabus.has_items() %}
                            <table>
                                <thead>
                                <tr>
                                    <th>عنوان آیتم</th>
                                    <th>گزینه های بیشتر</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in course.syllabus.items %}
                                    <tr>
                                        <td data-column="عنوان آیتم">{{ item.title }}</td>
                                        <td data-column="گزینه های بیشتر">
                                            <a href="{{ url_for('course_syllabus_item_update',item_id=item.id) }}"
                                               class="blue">
                                                <i class="fa fa-pencil"></i>
                                                ویرایش
                                            </a>
                                            <a href="{{ url_for('course_syllabus_item_delete',item_id=item.id) }}"
                                               class="red">
                                                <i class="fa fa-trash"></i>
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-three" type="checkbox" name="tabs">
                    <label for="tab-three">اخبار</label>
                    <div class="tab-content">
                        <div class="button-group">
                            <a href="{{ url_for('course_post_create',course_id=course.id) }}" class="green">ایجاد
                                خبر</a>
                        </div>
                        {% if course.has_posts() %}
                            <table>
                                <thead>
                                <tr>
                                    <th>عنوان خبر</th>
                                    <th>متن خبر</th>
                                    <th>تاریخ ایجاد خبر</th>
                                    <th>تاریخ ویرایش خبر</th>
                                    <th>گزینه های بیشتر</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for post in course.posts %}
                                    <tr>
                                        <td data-column="عنوان خبر">{{ post.title }}</td>
                                        <td data-column="متن خبر">{{ post.content }}</td>
                                        <td data-column="تاریخ ایجاد">{{ post.create_at }}</td>
                                        <td data-column="تاریخ بروزرسانی">{{ post.update_at }}</td>
                                        <td data-column="Action Button">
                                            <a href="" class="green">
                                                <i class="fa fa-eye"></i>
                                                مشاهده
                                            </a>
                                            <a href="{{ url_for('course_post_update',post_id=post.id) }}" class="blue">
                                                <i class="fa fa-pencil"></i>
                                                ویرایش
                                            </a>
                                            <a href="{{ url_for('course_post_delete',post_id=post.id) }}" class="red">
                                                <i class="fa fa-trash"></i>
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-four" type="checkbox" name="tabs">
                    <label for="tab-four">منابع</label>
                    <div class="tab-content">
                        <div class="button-group">
                            <a href="{{ url_for('course_resource_create',course_id=course.id) }}" class="green">ایجاد
                                منبع</a>
                        </div>
                        {% if course.has_resources() %}
                            <table>
                                <thead>
                                <tr>
                                    <th>عنوان منبع</th>
                                    <th>گزینه های بیشتر</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for resource in course.resources %}
                                    <tr>
                                        <td data-column="عنوان منبع">{{ resource.title }}</td>
                                        <td data-column="گزینه های بیشتر">
                                            <a href="{{ url_for('course_resource_update',resource_id=resource.id) }}"
                                               class="blue">
                                                <i class="fa fa-pencil"></i>
                                                ویرایش
                                            </a>
                                            <a href="{{ url_for('course_resource_delete',resource_id=resource.id) }}"
                                               class="red">
                                                <i class="fa fa-trash"></i>
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-five" type="checkbox" name="tabs">
                    <label for="tab-five">اسلاید ها</label>
                    <div class="tab-content">
                        <div class="button-group">
                            <a href="{{ url_for('course_slide_create',course_id=course.id) }}" class="green">ایجاد
                                اسلاید</a>
                        </div>
                        {% if course.has_slides() %}
                            <table>
                                <thead>
                                <tr>
                                    <th>عنوان اسلاید</th>
                                    <th>گزینه های بیشتر</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for slide in course.slides %}
                                    <tr>
                                        <td data-column="عنوان اسلاید">{{ slide.title }}</td>
                                        <td data-column="گزینه های بیشتر">
                                            <a href="{{ url_for('course_slide_view',slide_id=slide.id) }}"
                                               class="green">
                                                <i class="fa fa-download"></i>
                                                دانلود
                                            </a>
                                            <a href="{{ url_for('course_slide_update',slide_id=slide.id) }}"
                                               class="blue">
                                                <i class="fa fa-pencil"></i>
                                                ویرایش
                                            </a>
                                            <a href="{{ url_for('course_slide_delete',slide_id=slide.id) }}"
                                               class="red">
                                                <i class="fa fa-trash"></i>
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-six" type="checkbox" name="tabs">
                    <label for="tab-six">تمرینات</label>
                    <div class="tab-content">
                        <div class="button-group">
                            <a href="{{ url_for('course_homework_create',course_id = course.id) }}" class="green">ایجاد
                                تمرین</a>
                        </div>
                        {% if course.has_homeworks() %}
                            <table>
                                <thead>
                                <tr>
                                    <th>عنوان تمرین</th>
                                    <th>توضیحات</th>
                                    <th>لینک</th>
                                    <th>گزینه های بیشتر</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for homework in course.homeworks %}
                                    <tr>
                                        <td data-column="عنوان">{{ homework.title }}</td>
                                        <td data-column="توضیحات">{{ homework.content }}</td>
                                        <td data-column="مهلت ارسال">{{ homework.deadline_at }}</td>
                                        <td data-column="گرینه های بیشتر">
                                            <a href="{{ url_for('course_homework_index',homework_id = homework.id) }}"
                                               class="blue">
                                                <i class="fa fa-pencil"></i>
                                                ویرایش تمرین و مشاهده پاسخ ها
                                            </a>
                                            <a href="{{ url_for('course_homework_delete',homework_id = homework.id) }}"
                                               class="red">
                                                <i class="fa fa-trash"></i>
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}