{% extends '/layout/page_base.html' %}
{% block title %}
    <title>ایجاد درس</title>
{% endblock %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block content %}
    <div class="page-content-container">
        <article class="post-container last-item">
            <header class="post-header">
                <div class="post-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="post-title">
                    <h2>ایجاد ترم</h2>
                </div>
            </header>
            <div class="post-main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'success' or category == 'error' %}
                                <div class="my-notify {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form">
                    <form method="post" class="terms-create-form">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label>{{ form.year.label }}</label>
                            {{ form.year }}
                            {% for error in form.year.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>{{ form.semester.label }}</label>
                            {{ form.semester }}
                            {% for error in form.semester.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <input type="submit" value="ایجاد"/>
                    </form>
                </div>
            </div>
        </article>
    </div>
{% endblock %}