{% extends 'layout/base/base.html' %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{% block header %}{% endblock %}
{% block main %}
    <div class="page-main">
        <div class="header">
            <div class="info">
                {% block info %}
                {% endblock %}
            </div>
        </div>
        <div class="form">
            <div class="thumbnail"><img src="/static/img/hat.svg"/></div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'success' or category == 'error' %}
                            <div class="my-notify {{ category }}">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}